.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-serif {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.font-hand {
  font-family: "Chalkboard", "Hannotate SC", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.brand {
  font-family: "Marker Felt", "Chalkboard", "Hannotate SC", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: -webkit-linear-gradient(207deg, #4285d3 25%, #f364ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tc-body {
  font-family: "Chalkboard", "Hannotate SC", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.w-[1/2] {
  width: 50%;
}

body {
  font-variant-numeric: tabular-nums;
}

a {
  word-break: break-all;
}

blockquote {
  font-family: Georgia, serif;
  position: relative;
  border-left: none;
  padding: 10px;
  border-radius: 8px;
}

pre {
  padding: 0 !important;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
