[tools]
"npm:tiddlywiki" = "latest"

[tasks.start]
description = 'Start tiddlywiki server'
run = '''
#!/usr/bin/env bash
set -x
PORT=8080
while lsof -Pi :$PORT -sTCP:LISTEN -t >/dev/null 2>&1; do
    PORT=$((PORT + 1))
done

(sleep 2 && open -a Safari http://localhost:$PORT) &
tiddlywiki --listen port=$PORT username=TJ
'''

[tasks.preview]
description = 'Build and preview the site'
run = '''
#!/usr/bin/env bash
rm -rf output
sh build
open ./docs/index.html
open ./docs/tiddlyjam/index.html
'''
